body {
  font-family: Rob;
  font-size: 120%;
  background-image: url("../code-quiz.png");
  background-size: cover; /* or 'contain', '100% 100%', etc. */
  background-repeat: no-repeat; /* to prevent repeating the image */
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 10px; /* Increased margin for slightly more spacing */
  cursor: pointer;
  font-size: 2rem; /* Reduced font size to 2rem */
  background-color: #4ECCA3; /* Match button color with h1 color */
  border-radius: 5px;
  padding: 10px 20px; /* Increased padding for a larger button */
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #2E8473; /* Darker color on hover */
}

.choices button {
  /* display: block; */
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  color: #ff0000; /* Red text color for 'li' elements */
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

h2 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}